<nav class="networking <%- netw_class %>" style="font-size: 0">
	<a href="" class="facebook" ></a>
	<a href="" class="twitter" ></a>
	<a href="" class="instagram" ></a>
	<a href="" class="github" ></a>
</nav>