<html>
	<head>
		<meta charset="utf-8" >
		<meta name="viewport" >
		<title>TakeItEasy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/public/styles/general-fonts.css">
		<link rel="stylesheet" href="/public/styles/home.css">
		<script src="/public/js/libs/jquery-3.1.1.min.js" ></script>
		<script src="/public/js/home.js" ></script>
	</head>
	<body>
		<% include ../topbar %>
		<main class="page">
			<section class="introduce">
				<!-- <div style="width: 100%; height: 100%; background: url('/public/images/welcome-takeiteasy-background.png') no-repeat; background-size: auto 100%; background-position: right;position: absolute;top: 0;left: 0;opacity: 1;mix-blend-mode: overlay;" > -->
					
				</div>
				<p>
					Se você tem um problema,
					<br>
					<span style="font-size: 1.6em; text-transform: uppercase;" >o problema é nosso!</span>
				</p>
			</section>
			<header>
				<h1 class="section-title" >
					<span>Nossos Serviços:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="main-services" > 
			<% services.forEach( function(service, index) {	%><div class="service">
				<a href="<%- service.href%>">
					<div class="service-image" style="background-image: url('/public/images/services/dark-blue/dark-blue-<%- service.imageSrc  %>')" ></div>
					<span class="service-title"><%- service.name %></span>
				</a>
			</div><% }) %>
			</section>
			<header>
				<h1 class="section-title" >
					<span>Conheça-nos:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="meet-us" > 
			</section>
		</main>
		<% include ../footer%>
	</body>
</html>