<html>
	<head>
		<meta charset="utf-8" >
		<title>TakeItEasy</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/public/styles/general-fonts.css">
		<link rel="stylesheet" href="/public/styles/top-bar.css">
		<link rel="stylesheet" href="/public/styles/footer.css">
		<link rel="stylesheet" href="/public/styles/home.css">
		<script src="/public/js/libs/jquery-3.1.1.min.js" ></script>
		<script src="/public/js/home.js" ></script>
	</head>
	<body>
		<% include ../topbar %>
		<main class="page">
			<section class="introduce">
				<div class="top-gradient"></div>
				<div class="introduce-background" id="introduce-background2" ></div>
				<div class="introduce-background" id="introduce-background1" ></div>
				<div class="introduce-background-overlay"></div>
				<p>
					<span>Se você tem um problema,</span>
					<br>
					<span style="font-size: 1.6em; text-transform: uppercase;" >o problema é nosso!</span>
				</p>
				<div class="introduce-bottom-bar" >
					<div class="introduce-bottom-bar-left"></div>
					<div class="introduce-bottom-bar-right"></div>
				</div>
			</section>
			<header>
				<h1 class="section-title" >
					<span>Como nós te fazemos relaxar:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="makey-you-relax" >
				<article class="services-area">
					
				</article>
			</section>
			<hr class="section-divider">
			<header>
				<h1 class="section-title" >
					<span>Conheça-nos:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="meet-us" > 
			</section>
		</main>
		<% include ../footer%>
	</body>
</html>


				<!--
				<%# services.forEach( function(service, index) {	%><div class="service">
					<a href="<%#- service.href%>">
						<div class="service-image" style="background-image: url('/public/images/services/dark-blue/dark-blue-<%#- service.imageSrc  %>')" ></div>
						<span class="service-title"><%#- service.name %></span>
					</a>
				</div><%# }) %>
				-->