<html lang="pt-br">
	<head>
		<meta charset="utf-8" >
		<title>TakeItEasy</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
   		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
   		<meta http-equiv="content-language" content="br" />
   		<meta name="description" content="Temos a solução exata para o seu problema, você escolhe quanto pode pagar e a gente te ajuda." />
		<link href="https://fonts.googleapis.com/css?family=Asap|Cookie|Great+Vibes|Lobster|Pacifico|Roboto" rel="stylesheet">
		<link rel="stylesheet" href="/public/styles/general-fonts.css">
		<link rel="stylesheet" href="/public/styles/top-bar.css">
		<link rel="stylesheet" href="/public/styles/footer.css">
		<link rel="stylesheet" href="/public/styles/home.css">
		<script type="text/javascript" src="/public/js/libs/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="/public/js/home.js" ></script>
	</head>
	<body>
		<% include ../topbar %>
		<main class="page">
			<section class="introduce main-section">
				<div class="top-gradient"></div>
				<div class="introduce-background" id="introduce-background2" ></div>
				<div class="introduce-background" id="introduce-background1" ></div>
				<div class="introduce-background-overlay"></div>
				<p>
					<span>Se você tem um problema,</span>
					<br>
					<span style="font-size: 1.6em; text-transform: uppercase;" >o problema é nosso!</span>
				</p>
				<div class="introduce-bottom-bar" >
					<div class="introduce-bottom-bar-left"></div>
					<div class="introduce-bottom-bar-right"></div>
				</div>
			</section>
			<section class="general-explain main-section">
				<div class="general-explain-content" >
					<h1>Lorem ipsum Nisi</h1>
					<p>Lorem ipsum Ut dolore nostrud culpa ut mollit. Lorem ipsum Dolor dolor nulla anim ut laboris amet tempor labore sunt veniam. Lorem ipsum Cillum ad enim esse incididunt do veniam esse fugiat tempor.</p>
				</div>
			</section>
			<section class="make-you-relax main-section" >
				<header>
					<h1 class="section-title" >
						<span>Como nós te fazemos relaxar<br>
						<hr>
						</span>
					</h1>
					<p class="section-subtitle" >
						Cuidamos do seu problema, de um jeito rápido e o melhor, que cabe no seu bolso.
					</p>
				</header>
				<article class="services-area">
					<div class="service-area">
						<figure class="area-icon">
							<img src="/public/images/area-icon/design-icon.png" alt="">
						</figure>
						<span>Design & WebDesign</span>
					</div>
					<div class="service-area">
						<figure class="area-icon">
							<img src="/public/images/area-icon/software-icon.png" alt="">
						</figure>
						<span>Soluções em Software</span>
					</div>
					<div class="service-area">
						<figure class="area-icon">
							<img src="/public/images/area-icon/academy-icon.png" alt="">
						</figure>
						<span>Ajuda Acadêmica</span>
					</div>
				</article>
			</section>
			<section class="design-area-explain area-explain dark main-section" >
				<div class="area-explain-partial">
					<header class="flex">
						<h1 class="section-title-explain" >
							<span>DESIGN<br><span style="font-family: 'Cookie', cursive; font-size: 0.6em">&</span><br>WebDesign<br></span>
							<hr>
						</h1>
						<p class="section-subtitle-explain" >
							"O design veio ao mundo para dar a ele aquilo que nem sabia que precisava."
						</p>
					</header>
					<article class="design-area">	
						<div class="full-explain" >
							<div class="explain-text">
								<h2>Lorem ipsum dolor</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim sem in erat venenatis, vel dapibus nisi tincidunt. Curabitur vitae lectus justo. Phasellus et rutrum dui. Pellentesque vel justo viverra, pulvinar nulla nec, elementum tortor. Cras tellus metus, blandit sed rhoncus eu, congue sed libero. Nullam vitae mattis dui. 						
								</p>	
							</div>
							<a href="/servicos/design-e-webdesign" class="explain-read-more">
								Veja tudo sobre
							</a>
						</div>
					</article>
				</div>
			</section>
			<section class="software-area-explain area-explain light main-section" >
				<div class="area-explain-partial">
					<header class="flex">
						<h1 class="section-title-explain" >
							<span>
								Soluções
								<br>
								<span style="font-family: 'Cookie', cursive; font-size: 0.6em; text-transform: lowercase;">em</span>
								<br>
								Software
								<br>
							</span>
							<hr>
						</h1>
						<p class="section-subtitle-explain" >
							"O design veio ao mundo para dar a ele aquilo que nem sabia que precisava."
						</p>
					</header>
					<article class="design-area">	
						<div class="full-explain" >
							<div class="explain-text">
								<h2>Lorem ipsum dolor</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim sem in erat venenatis, vel dapibus nisi tincidunt. Curabitur vitae lectus justo. Phasellus et rutrum dui. Pellentesque vel justo viverra, pulvinar nulla nec, elementum tortor. Cras tellus metus, blandit sed rhoncus eu, congue sed libero. Nullam vitae mattis dui. 						
								</p>	
							</div>
							<a href="/servicos/design-e-webdesign" class="explain-read-more">
								Veja tudo sobre
							</a>
						</div>
					</article>
				</div>
			</section>
			<section class="academy-area-explain area-explain dark main-section" >
				<header class="flex">
					<h1 class="section-title-explain center-horizontally" >
						<span>
							Ajuda
							<br>
							<!-- <span style="font-family: 'Cookie', cursive; font-size: 0.6em">&</span> -->
							<br>
							Acadêmica
							<br>
						</span>
						<hr>
					</h1>
					<p class="section-subtitle-explain" >
						"O design veio ao mundo para dar a ele aquilo que nem sabia que precisava."
					</p>
				</header>
				<article class="design-area">	
					<div class="full-explain" >
						<div class="explain-text">
							<h2>Lorem ipsum dolor</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim sem in erat venenatis, vel dapibus nisi tincidunt. Curabitur vitae lectus justo. Phasellus et rutrum dui. Pellentesque vel justo viverra, pulvinar nulla nec, elementum tortor. Cras tellus metus, blandit sed rhoncus eu, congue sed libero. Nullam vitae mattis dui. 						
							</p>	
						</div>
						<a href="/servicos/design-e-webdesign" class="explain-read-more">
							Veja tudo sobre
						</a>
					</div>
				</article>
			</section>
			<hr class="section-divider">
			<header>
				<h1 class="section-title" >
					<span>Conheça-nos:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="meet-us" >
			</section>
		</main>
		<% include ../footer%>
	</body>
</html>

<!--
<%# services.forEach( function(service, index) {	%><div class="service">
	<a href="<%#- service.href%>">
		<div class="service-image" style="background-image: url('/public/images/services/dark-blue/dark-blue-<%#- service.imageSrc  %>')" ></div>
		<span class="service-title"><%#- service.name %></span>
	</a>
</div><%# }) %>
-->