<html>
	<head>
		<meta charset="utf-8" >
		<meta name="viewport" >
		<title>TakeItEasy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/public/styles/general-fonts.css">
		<link rel="stylesheet" href="/public/styles/home.css">
		<script src="/public/js/libs/jquery-3.1.1.min.js" ></script>
		<script src="/public/js/home.js" ></script>
	</head>
	<body>
		<div class="top-bar">
			<hr class="soft-line">
			<div class="top-bar-content">
				<div class="main-logo">
					<img src="/public/images/main-logo.png" alt="Logotipo TakeItEasy.com">
				</div>
				<div class="side-menu">
					<div class="search-icon menu-options">
					</div>
					<div class="main-menu-icon menu-options">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<!-- <hr class="bottom-line">  -->
		</div>
		<main class="page">
			<section class="introduce">
				<p>
					Se você tem um problema,
					<br>
					<span style="font-size: 1.6em; text-transform: uppercase;" >o problema é nosso!</span>
				</p>
			</section>
			<header>
				<h1>
					<span>Nossos Serviços:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="main-services" > 
			<% services.forEach( function(service, index) {	%><div class="service">
				<a href="<%- service.href%>">
					<div class="service-image" style="background-image: url('/public/images/services/<%- service.imageSrc  %>')" ></div>
					<span class="service-title"><%- service.name %></span>
				</a>
			</div><% }) %>
			</section>
			<header>
				<h1>
					<span>Conheça-nos:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="meet-us" > 
			</section>
		</main>
		<footer class="main-footer" >
			
		</footer>
	</body>
</html>