<html>
	<head>
		<meta charset="utf-8" >
		<title>TakeItEasy</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Asap|Lobster|Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="/public/styles/general-fonts.css">
		<link rel="stylesheet" href="/public/styles/top-bar.css">
		<link rel="stylesheet" href="/public/styles/footer.css">
		<link rel="stylesheet" href="/public/styles/home.css">
		<script type="text/javascript" src="/public/js/libs/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="/public/js/home.js" ></script>
	</head>
	<body>
		<% include ../topbar %>
		<main class="page">
			<section class="introduce">
				<div class="top-gradient"></div>
				<div class="introduce-background" id="introduce-background2" ></div>
				<div class="introduce-background" id="introduce-background1" ></div>
				<div class="introduce-background-overlay"></div>
				<p>
					<span>Se você tem um problema,</span>
					<br>
					<span style="font-size: 1.6em; text-transform: uppercase;" >o problema é nosso!</span>
				</p>
				<div class="introduce-bottom-bar" >
					<div class="introduce-bottom-bar-left"></div>
					<div class="introduce-bottom-bar-right"></div>
				</div>
			</section>
			<section class="make-you-relax" >
				<header>
					<h1 class="section-title" >
						<span>Como nós te fazemos relaxar<br>
						<hr>
						</span>
					</h1>
					<p class="section-subtitle" >
						Cuidamos do seu problema, de um jeito rápido e o melhor, que cabe no seu bolso.
					</p>
				</header>
				<article class="services-area">
					<div class="service-area">
						<figure class="area-icon">
							<img src="/public/images/area-icon/design-icon.png" alt="">
						</figure>
						<span>Design & WebDesign</span>
					</div>
					<div class="service-area">
						<figure class="area-icon">
							<img src="/public/images/area-icon/software-icon.png" alt="">
						</figure>
						<span>Soluções em Software</span>
					</div>
					<div class="service-area">
						<figure class="area-icon">
							<img src="/public/images/area-icon/academy-icon.png" alt="">
						</figure>
						<span>Ajuda Acadêmica</span>
					</div>
				</article>
			</section>
			<section class="design-area-explain" >
				<header>
					<h1 class="section-title-explain" >
						<span>
							DESIGN
							<br>
							<span style="font-family: 'Lobster', cursive;">&</span>
							<br>
							WebDesign
							<br>
							<hr>
						</span>
					</h1>
					<p class="section-subtitle-explain" >
						O design veio ao mundo para dar a ele aquilo que nem sabia que precisava.
					</p>
				</header>
				<article class="services-area">
				</article>
			</section>
			<hr class="section-divider">
			<header>
				<h1 class="section-title" >
					<span>Conheça-nos:<br>
					<hr>
					</span>
				</h1>
			</header>
			<section class="meet-us" > 
			</section>
		</main>
		<% include ../footer%>
	</body>
</html>

<!--
<%# services.forEach( function(service, index) {	%><div class="service">
	<a href="<%#- service.href%>">
		<div class="service-image" style="background-image: url('/public/images/services/dark-blue/dark-blue-<%#- service.imageSrc  %>')" ></div>
		<span class="service-title"><%#- service.name %></span>
	</a>
</div><%# }) %>
-->