<section class="introduce main-section" style="background-image: url('/public/images/welcome-slide/optimized/designers.jpg')">
	<div class="top-gradient"></div>
	<div class="introduce-background" id="introduce-background2" ></div>
	<div class="introduce-background" id="introduce-background1" ></div>
	<div class="introduce-background-overlay"></div>
	<p>
		<span><%- slogan[0] %></span>
		<br>
		<span style="font-size: 1.6em; text-transform: uppercase;" ><%- slogan[1] %></span>
	</p>
	<div class="introduce-bottom-bar" >
		<div class="introduce-bottom-bar-left"></div>
		<div class="introduce-bottom-bar-right"></div>
	</div>
</section>