<section class="general-explain main-section flex flex-center-vertically flex-center-horizontally">
	<div class="general-explain-content" >
		<h1 class="section-title">
			<span>
				<%- text.title %>
				<hr>
			</span>
		</h1>
		<div class="explain-content">
			<p class="plain-p">
				<%- text.content %>
			</p>
		</div>
	</div>
</section>