<section class="software-area-explain area-explain light main-section" >
	<div class="area-explain-partial">
		<header class="flex">
			<h1 class="section-title-explain" >
				<span>
					Soluções
					<br>
					<span style="font-family: 'Cookie', cursive; font-size: 0.6em; text-transform: lowercase;">em</span>
					<br>
					Software
					<br>
				</span>
				<hr>
			</h1>
			<p class="section-subtitle-explain" >
				"O design veio ao mundo para dar a ele aquilo que nem sabia que precisava."
			</p>
		</header>
		<article class="software-area">	
			<div class="full-explain" >
				<div class="explain-text">
					<h2>Lorem ipsum dolor</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim sem in erat venenatis, vel dapibus nisi tincidunt. Curabitur vitae lectus justo. Phasellus et rutrum dui. Pellentesque vel justo viverra, pulvinar nulla nec, elementum tortor. Cras tellus metus, blandit sed rhoncus eu, congue sed libero. Nullam vitae mattis dui. 						
					</p>	
				</div>
				<a href="/servicos/solucoes-em-software" class="explain-read-more">
					Veja tudo sobre
				</a>
			</div>
		</article>
	</div>
</section>