<section class="general-explain main-section flex flex-center-vertically flex-center-horizontally">
	<div class="general-explain-content" >
		<h1 class="section-title">
			<span>
				Lorem ipsum Nisi
				<hr>
			</span>
		</h1>
		<div class="explain-content">
			<p class="plain-p">
				Lorem ipsum Ut dolore nostrud culpa ut mollit. Lorem ipsum Dolor dolor nulla anim ut laboris amet tempor labore sunt veniam. Lorem ipsum Cillum ad enim esse incididunt do veniam esse fugiat tempor. Lorem ipsum Adipisicing nisi adipisicing exercitation reprehenderit anim aliquip pariatur.
			</p>
		</div>
	</div>
</section>