footer.main-footer{
	height: auto;
	min-height: 400px;
	width: 100%;
	position: relative;
	background: #9b59b6;
	background: -webkit-linear-gradient(to left, #612e76 , #34193f);
	background: linear-gradient(to left, #612e76 , #34193f);
	padding-bottom: 100px; 
}
footer.main-footer:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	background: url('/public/images/wave-footer-background-overlay.png') no-repeat;
	background-size: 100% 100%;	
	background-position: top;
}

footer.main-footer footer{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70px;
	width: 100%;
}
footer.main-footer footer hr{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 7px;
	width: 100%;
	background: #15212d;
}
footer.main-footer footer figure{
	display: inline-block;
	position: relative;
	margin: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
footer.main-footer footer figure .logo-piece{ 
	fill: rgba(255, 255, 255, 0.14);
}
@media (max-width: 800px){
	footer.main-footer:after{
		content: '';
		background-size: 100% 70%;
	}
}


footer.main-footer .main-footer-content{ 
	padding-top: 110px;
}

footer.main-footer .main-footer-content nav{ 
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
footer.main-footer .main-footer-content nav nav{ 
	display: inline-block;
	margin: 10px 20px;
	vertical-align: text-top;
	text-align: left;
}
footer.main-footer .main-footer-content nav nav span{ 
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, 0.2);
}
footer.main-footer .main-footer-content nav nav ul{ 
	margin-top: 20px;
}
footer.main-footer .main-footer-content nav nav ul li{ 
	font-size: 0.9em;
	font-family: 'Asap', sans-serif;
	line-height: 1.5em;
	color: rgba(233, 239, 244, 0.5);
}
footer.main-footer .main-footer-content nav nav ul li a:hover{
	color: rgba(233, 239, 244, 0.9);
}

footer.main-footer hr.section-divider{
}