*{
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

*::selection {
  background: #a66bbe; 
  color: #fff;
}
*::-moz-selection {
  background: #a66bbe;
  color: #fff;
}

body{
	background: #fbfcfd;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: inherit;
}

.page{
	margin-bottom: 300px;
}

.introduce{
	width: 100%;
	height: 0;
	overflow: hidden;
	background: #34495e;
	background: -webkit-linear-gradient(to left, #2c3e50 , #11181f);
	background: linear-gradient(to left, #2c3e50 , #11181f);
	padding: 20px 30px;
	position: relative;
	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out;
}
.introduce.shrunken{
	height: 0;
}
.introduce.expanded{
	height: 550px;
	height: -webkit-calc(100vh - 100px);
	height: -moz-calc(100vh - 100px);
	height: -o-calc(100vh - 100px);
	height: calc(100vh - 100px);
}
/* .introduce:before{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	top: 2px;
	left: 0;
	background: #fff; 
} */
/* .introduce:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 2px;
	left: 0;
	background: #fff;
} */
.introduce p{
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -10px;
	font-size: 2.5em;
	font-size: 2.5vw;
	color: #fff;
	font-family: 'Bree Th';
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,.6);
    line-height: 50px;
    text-align: center;
    z-index: 100;
}
@media (max-width: 900px){
	.introduce p{
		font-size: 2.0em;
		font-size: 3vw;
	}
}
@media (max-width: 600px){
	.introduce p{
		font-size: 1.5em;
		font-size: 3.5vw;
	}
}
@media (max-width: 600px){
	.introduce p{
		font-size: 1em;
		font-size: 4vw;
	}
}
.introduce span{
	will-change: opacity;
	opacity: 0;
}
.introduce .top-gradient{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
    z-index: 20;
	background: rgba(0,0,0,0);
	background: -webkit-linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.0));
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.0));
}

.introduce .introduce-background-overlay{
	width: 100%;
	height: 100%;
	background: #34495e;
	background: -webkit-linear-gradient(to left, #2c3e50 , #11181f);
	background: linear-gradient(to left, #2c3e50 , #11181f);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
	mix-blend-mode: multiply;
	z-index: 20;
}

.introduce .introduce-background{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	will-change: opacity;
	opacity: 1;
	-webkit-transition: background-size 1s ease-in;
	-moz-transition: background-size 1s ease-in;
	-o-transition: background-size 1s ease-in;
	transition: background-size 1s ease-in;
}
.introduce .introduce-bottom-bar{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.introduce .introduce-bottom-bar .introduce-bottom-bar-left{
	width: 50%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: -50px;
	background: #fbfcfd;
	z-index: 20;
}

.introduce .introduce-bottom-bar .introduce-bottom-bar-left:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	right: -50px;
	background: transparent;
	z-index: 20;
	border-bottom: 40px solid #fbfcfd;
	border-right: 50px solid transparent;
}

.introduce .introduce-bottom-bar .introduce-bottom-bar-right{
	width: 50%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: -50px;
	background: #fbfcfd;
	z-index: 20;

}
.introduce .introduce-bottom-bar .introduce-bottom-bar-right:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	background: transparent;
	bottom: 0;
	z-index: 20;
	left: -50px;
	border-bottom: 40px solid #fbfcfd;
	border-left: 50px solid transparent;

}

.section-divider{
	width: 60%;
	height: 1px;
	background: #b07cc5;
	margin: 20px auto; 
	position: relative;
}
.section-divider:after{
	content: '' ;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 2px solid #9b59b6;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 0 2px white;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
}

.page header{
	width: 100%;
	height: 100px;
}
.section-title{
	font-family: 'Bree Th';
	font-style: normal;
	font-size: 1.5em;
	line-height: 100px;
	text-align: center;
	color: #9b59b6;
}
.section-title span{
	position: relative;
}

.section-title span hr{
	position: absolute;
	height: 1px;
	width: 30%;
	margin: auto;
	background: #9b59b6;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -15px;
}
/*
.main-services{
	width: 100%;
	padding: 20px; 
	position: relative;
}
.main-services:after{
	content: '';
	height: 100%;
	width: 3px;
	position: absolute;
	right: 20px;
	top: 0;
	background: #fff;
}
.main-services:before{
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 28px;
	left: 0;
	background: #fff;
	z-index: 100;
}
.main-services .service{
	width: 25%;
	min-width: 200px;
	height: 220px;
	display: inline-block;
	padding: 20px 0;
	margin-bottom: 10px;	
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	opacity: 0;
	will-change: opacity;
}

.main-services .service a {
	text-decoration: none;
}

@media (max-width: 1150px){

	.main-services .service{
		height: 250px;
	}

}
@media (max-width: 900px){

	.main-services .service{
		width: 33.33%;
	}

}

@media (max-width: 700px){
	.main-services .service{
		width: 50%;
	}
}

@media (max-width: 500px){
	.main-services .service{
		width: 100%;
	}
}

.main-services .service:after{
	content: '';
	width: 50%;
	height: 1px;
	background: #dac1e4;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-services .service:before{
	content: '';
	height: 50%;
	width: 1px;
    margin: auto;
	background: #dac1e4;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-services .service .service-image{
	image-rendering: crisp-edges;	
	height: 100px;
	width: 100%;
	margin: auto;
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-size 0.2s ease-out;
}
.main-services .service:hover .service-image{
	background-size: auto 90%;
	image-rendering: crisp-edges;	
}
.main-services .service .service-title{
	display: block;
	width: 90%;
	height: auto;
	word-break: break-word;
    font-family: "MJ AlGhifari";
    font-size: 1.5em;
    text-align: center;
    padding: 30px 0 0 0;
    color: #9b59b6;
    margin: auto;
}
*/


