*{
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

*::selection {
  background: #a66bbe; 
  color: #fff;
}
*::-moz-selection {
  background: #a66bbe;
  color: #fff;
}

body{
	background: #fbfcfd;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: inherit;
}
h1{
	text-transform: uppercase;
}


/* general clases */
.section-title{
	font-family: 'Bree Th';
	font-style: normal;
	font-size: 1.5em;
	line-height: 100px;
	text-align: center;
	color: #9b59b6;
	text-transform: uppercase;
}
.section-title span{
	position: relative;
}

.section-title span hr{
	position: absolute;
	height: 1px;
	width: 30%;
	margin: auto;
	background: #9b59b6;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -15px;
}
.section-subtitle{
	text-align: center;
	font-family: 'Asap', sans-serif;
	color: #34495e;
	font-size: 1.08em;
}

.center-horizontally{
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.center-vertically{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flex-center-horizontally{
	justify-content: center;
}
.flex-center-vertically{
	align-items: center;
}

.plain-p{
	font-family: "Roboto", sans-serif;
	color: #2c3e50;
}
.plain-li{
	list-style: none;
}

/* END general classes */

.page{
	margin-bottom: 300px;
}

.introduce{
	width: 100%;
	height: 0;
	/* height: calc(100vh - 50px); */
	overflow: hidden;
	background: #34495e;
	background: -webkit-linear-gradient(to left, #2c3e50 , #11181f);
	background: linear-gradient(to left, #2c3e50 , #11181f);
	padding: 20px 30px;
	position: relative;
	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out;
}
.introduce.shrunken{
	height: 0;
}
.introduce.expanded{
	height: 550px;
	height: -webkit-calc(100vh - 50px);
	height: -moz-calc(100vh - 50px);
	height: -o-calc(100vh - 50px);
	height: calc(100vh - 50px);
}
/* .introduce:before{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	top: 2px;
	left: 0;
	background: #fff; 
} */
/* .introduce:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 2px;
	left: 0;
	background: #fff;
} */
.introduce p{
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -10px;
	font-size: 2.5em;
	font-size: 2.5vw;
	color: #fff;
	font-family: 'Bree Th';
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,.6);
    line-height: 50px;
    text-align: center;
    z-index: 20;
}
@media (max-width: 900px){
	.introduce p{
		font-size: 2.0em;
		font-size: 3vw;
	}
}
@media (max-width: 600px){
	.introduce p{
		font-size: 1.5em;
		font-size: 3.5vw;
	}
}
@media (max-width: 600px){
	.introduce p{
		font-size: 1em;
		font-size: 4vw;
	}
}
.introduce span{
	will-change: opacity;
	opacity: 0;
}
.introduce .top-gradient{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
    z-index: 20;
	background: rgba(0,0,0,0);
	background: -webkit-linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.0));
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.0));
}

.introduce .introduce-background-overlay{
	width: 100%;
	height: 100%;
	background: #34495e;
	background: -webkit-linear-gradient(to left, #2c3e50 , #11181f);
	background: linear-gradient(to left, #2c3e50 , #11181f);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
	mix-blend-mode: multiply;
	z-index: 20;
}

.introduce .introduce-background{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	will-change: opacity;
	opacity: 1;
	-webkit-transition: background-size 1s ease-in;
	-moz-transition: background-size 1s ease-in;
	-o-transition: background-size 1s ease-in;
	transition: background-size 1s ease-in;
}
.introduce .introduce-bottom-bar{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.introduce .introduce-bottom-bar .introduce-bottom-bar-left{
	width: 50%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: -50px;
	background: #fbfcfd;
	z-index: 20;
}

.introduce .introduce-bottom-bar .introduce-bottom-bar-left:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	right: -50px;
	background: transparent;
	z-index: 20;
	border-bottom: 40px solid #fbfcfd;
	border-right: 50px solid transparent;
}

.introduce .introduce-bottom-bar .introduce-bottom-bar-right{
	width: 50%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: -50px;
	background: #fbfcfd;
	z-index: 20;

}
.introduce .introduce-bottom-bar .introduce-bottom-bar-right:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	background: transparent;
	bottom: 0;
	z-index: 20;
	left: -50px;
	border-bottom: 40px solid #fbfcfd;
	border-left: 50px solid transparent;

}

.section-divider{
	width: 60%;
	height: 1px;
	background: #b07cc5;
	margin: 20px auto; 
	position: relative;
}
.section-divider:after{
	content: '' ;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 2px solid #9b59b6;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 0 2px white;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
}


.section-divider.light{
	background: rgba(255,255,255,0.15);
	margin: 0 auto;
	width: 30%;
}
.section-divider.light:after{
	border: 2px solid rgba(255,255,255,0.15);
	background: #482258;
	box-shadow: 0 0 0 2px #482258;
}


.main-section{
	min-height: 500px;
}

.page header{
	width: 100%;
	height: auto;
}

.general-explain{
	height: 70vh;
	position: relative;
}

.general-explain .explain-content {
	width: 900px;
	margin: auto;
	padding: 15px;
}
.general-explain .explain-content p{
	text-align: center;
 }

.make-you-relax{
	height: 110vh;
	position: relative;
}
.make-you-relax .services-area{
	position: absolute;
	text-align: center;
	padding: 20px 0;
	top: 55%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	width: 100%;
 }
.make-you-relax .services-area .service-area{
	height: auto;
	width: 30%;
	max-width: 300px;
	will-change: transform, opacity;
	opacity: 0;
	display: inline-block;
	position: relative;
	margin: 0 10px;
	cursor: pointer;
	-webkit-transform: translateX(-500px);
	-moz-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	-o-transform: translateX(-500px);
	transform: translateX(-500px);
	-webkit-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980), opacity 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	-moz-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980), opacity 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	-ms-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980), opacity 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	-o-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980), opacity 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980), opacity 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
}
.make-you-relax .services-area .service-area.showed{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.make-you-relax .services-area .service-area figure img{ 
	width: 80%;
}

.make-you-relax .services-area .service-area span{ 
	display: block;
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	color: #34495e;
	text-align: center;
	margin: 10px auto;
}

.make-you-relax .services-area .service-area hr{ 
	height: 1px;
	width: 50%;
	background: #8090a0;
	margin: 15px auto;
	-webkit-transform: scaleX(0.4);
	-moz-transform: scaleX(0.4);
	-ms-transform: scaleX(0.4);
	-o-transform: scaleX(0.4);
	transform: scaleX(0.4);
	-webkit-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	-moz-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	-ms-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	-o-transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
	transition: transform 0.3s cubic-bezier(0.120, 0.900, 0.470, 0.980);
}

.make-you-relax .services-area .service-area:hover hr{
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

.area-explain{ 
	width: 100%;
	height: calc(100vh + 100px);
	min-height: 500px;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: repeat;
	overflow: hidden;
	position: relative;
}
.area-explain .area-explain-partial{ 
	position: absolute;
	top: 0;
	width: calc(50% - 50px);
	height: 100%;
	z-index: 0;
}
.area-explain.dark .area-explain-partial{ 
	right: 0;
	background: #301342;
}
.area-explain.light .area-explain-partial{ 
	left: 0;
	background: #e9eff4;
}
.area-explain .area-explain-partial:before{ 
	content: '';
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
}
.area-explain.dark .area-explain-partial:before{
	left: -100px;
	border-width: 0 0 calc(100vh + 100px) 100px;
	border-color: transparent transparent #301342 transparent;
}
.area-explain.light .area-explain-partial:before{
	right: -100px;
	border-width: calc(100vh + 100px) 0 0 100px;
	border-color: transparent transparent transparent #e9eff4;
}
.area-explain header{ 
	position: relative;
	height: 40%;
	width: 100%;
	z-index: 10;
	right: 0;
	float: right;
	justify-content: flex-end;
	align-items: flex-end;
}
.area-explain.dark header{
	justify-content: flex-end;
}
.area-explain.light header{
	justify-content: flex-start;
}
/* 
.area-explain.dark header{ 
	border-top-color: #2c3e50;
}
.area-explain.light header{ 
	border-top-color: #ffffff;
} 
*/
.area-explain article{ 
	width: 100%;
	height: 60%;
	z-index: 10;
}
.area-explain.dark article{ 
	padding: 10px 30px 10px 10px;
	float: right;
}
.area-explain.light article{ 
	padding: 10px 10px 10px 30px;
	float: left;
}
.area-explain article .full-explain{ 
	max-width: 900px;
	height: auto;
	margin-top: 10px;
}
.area-explain article .full-explain .explain-text{
	display: inline-block;
	position: relative;
	margin: 30px 0;
	font-family: 'Roboto', sans-serif;
}
.area-explain.dark article .full-explain .explain-text{
	text-align: right;	
	color: #e9eff4;
}
.area-explain.light article .full-explain .explain-text{
	text-align: left;	
	color: #645472;
}

.area-explain article .full-explain .explain-text h2{ 
	display: block;
	margin-bottom: 15px;
}
.area-explain article .full-explain .explain-text p{ 
	margin: 15px 0;
}

.area-explain article .full-explain .explain-read-more{ 
	position: relative;
	padding: 15px;
	border: 1px solid #ffffff;
	width: 160px;
	color: #ffffff;
	font-size: 0.8em;
	font-family: 'Century Gothic';
	text-transform: uppercase;
	-webkit-transition: background 0.2s ease-in, border-color 0.2s ease-in;
	-moz-transition: background 0.2s ease-in, border-color 0.2s ease-in;
	-o-transition: background 0.2s ease-in, border-color 0.2s ease-in;
	transition: background 0.2s ease-in, border-color 0.2s ease-in;
	display: inline-block;
	text-align: center;
}
.area-explain.light article .full-explain .explain-read-more{
	border: 1px solid #301342;
	color: #301342;
	float: left;
}
.area-explain.dark article .full-explain .explain-read-more{
	border: 1px solid #ffffff;
	color: #ffffff;
	float: right;
} 
.area-explain.dark article .full-explain .explain-read-more:hover{ 
	border: 1px solid #ffffff;
	color: #301342;
	background: #ffffff;
}
.area-explain.light article .full-explain .explain-read-more:hover{ 
	border: 1px solid #301342;
	color: #ffffff;
	background: #301342;
} 

.design-area-explain{
	background-image: url("/public/images/explain-backgrounds/design.jpg");
}
.software-area-explain{
	background-image: url("/public/images/explain-backgrounds/software.jpg");
}
.academy-area-explain{
	background-image: url("/public/images/explain-backgrounds/academy.jpg");
}

.section-title-explain{ 
	position: relative;
	font-size: 4em;
	font-family: 'Century Gothic', sans-serif;
	/*text-shadow: 0 0 10px rgba(0,0,0,.5);*/
	line-height: 0.4em;
	margin-bottom: 10px;
}
.dark .section-title-explain{ 
	text-align: right;
	float: right;
	padding-right: 30px;
	color: #fff;
}
.light .section-title-explain{ 
	text-align: left;
	float: left;
	padding-left: 30px;
	color: #301342;
}
.section-title-explain br{ 
	font-size: 0;
}

.section-title-explain hr{ 
	position: absolute;
	height: 1px;
	width: 20%;
	min-width: 150px;
	bottom: -35px;
}
.dark .section-title-explain hr{ 
	right: 30px;
	background: #fff;
}
.light .section-title-explain hr{ 
	left: 30px;
	background: #301342;
}
.section-title-explain hr:after{ 
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.dark .section-title-explain hr:after{ 
	right: 0;
	border-width: 10px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
}
.light .section-title-explain hr:after{ 
	left: 0;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #301342;
}

.section-subtitle-explain{ 
	font-size: 1.8em;
	color: #fff;
	font-family: 'Great Vibes', cursive;
	text-align: center;
	text-shadow: 0 0 10px rgba(0,0,0,.8);
	margin-top: 10px;
	display: none;
}

/*
.main-services{
	width: 100%;
	padding: 20px; 
	position: relative;
}
.main-services:after{
	content: '';
	height: 100%;
	width: 3px;
	position: absolute;
	right: 20px;
	top: 0;
	background: #fff;
}
.main-services:before{
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 28px;
	left: 0;
	background: #fff;
	z-index: 100;
}
.main-services .service{
	width: 25%;
	min-width: 200px;
	height: 220px;
	display: inline-block;
	padding: 20px 0;
	margin-bottom: 10px;	
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	opacity: 0;
	will-change: opacity;
}

.main-services .service a {
	text-decoration: none;
}

@media (max-width: 1150px){

	.main-services .service{
		height: 250px;
	}

}
@media (max-width: 900px){

	.main-services .service{
		width: 33.33%;
	}

}

@media (max-width: 700px){
	.main-services .service{
		width: 50%;
	}
}

@media (max-width: 500px){
	.main-services .service{
		width: 100%;
	}
}

.main-services .service:after{
	content: '';
	width: 50%;
	height: 1px;
	background: #dac1e4;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-services .service:before{
	content: '';
	height: 50%;
	width: 1px;
    margin: auto;
	background: #dac1e4;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-services .service .service-image{
	image-rendering: crisp-edges;	
	height: 100px;
	width: 100%;
	margin: auto;
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-size 0.2s ease-out;
}
.main-services .service:hover .service-image{
	background-size: auto 90%;
	image-rendering: crisp-edges;	
}
.main-services .service .service-title{
	display: block;
	width: 90%;
	height: auto;
	word-break: break-word;
    font-family: "MJ AlGhifari";
    font-size: 1.5em;
    text-align: center;
    padding: 30px 0 0 0;
    color: #9b59b6;
    margin: auto;
}
*/


