
*{
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box
}
body{
	background: #fff;
}
a{
	text-decoration: none;
	color: inherit;
}
.page{
	margin-bottom: 300px;
}
.introduce{
	width: 100%;
	height: calc(100vh - 150px);
	min-height: 300px;
	background: #34495e;
	background: -webkit-linear-gradient(to left, #2c3e50 , #11181f);
	background: linear-gradient(to left, #2c3e50 , #11181f);
	padding: 20px 30px;
	position: relative;
}
/* .introduce:before{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	top: 2px;
	left: 0;
	background: #fff; 
} */
/* .introduce:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 2px;
	left: 0;
	background: #fff;
} */
.introduce p{
	display: block;
	position: relative;
	top: 50%;
	left: -300px;
	will-change: opacity;
	opacity: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -10px;
	font-size: 4vmin;
	color: #fff;
	font-family: 'Bree Th';
    font-style: oblique;
    font-weight: bold;
    text-shadow: 3px 3px 0 rgba(0,0,0,.2);
    line-height: 60px;
}

.page header{
	width: 100%;
	height: 100px;
}
.section-title{
	font-family: 'Bree Th';
	font-style: oblique;
	font-size: 1.5em;
	line-height: 100px;
	text-align: center;
	color: #9b59b6;
}
.section-title span{
	position: relative;
}

.section-title span hr{
	position: absolute;
	height: 1px;
	width: 30%;
	margin: auto;
	background: cornflowerblue;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -15px;
}
.main-services{
	width: 100%;
	padding: 20px; 
	position: relative;
}
.main-services:after{
	content: '';
	height: 100%;
	width: 3px;
	position: absolute;
	right: 20px;
	top: 0;
	background: #fff;
}
.main-services:before{
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 28px;
	left: 0;
	background: #fff;
	z-index: 100;
}
.main-services .service{
	width: 25%;
	min-width: 200px;
	height: 220px;
	display: inline-block;
	padding: 20px 0;
	margin-bottom: 10px;	
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	opacity: 0;
	will-change: opacity;
}

.main-services .service a {
	text-decoration: none;
}

@media (max-width: 1150px){

	.main-services .service{
		height: 250px;
	}

}
@media (max-width: 900px){

	.main-services .service{
		width: 33.33%;
	}

}

@media (max-width: 700px){
	.main-services .service{
		width: 50%;
	}
}

@media (max-width: 500px){
	.main-services .service{
		width: 100%;
	}
}

.main-services .service:after{
	content: '';
	width: 50%;
	height: 1px;
	background: #c49dd4;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-services .service:before{
	content: '';
	height: 50%;
	width: 1px;
    margin: auto;
	background: #c49dd4;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-services .service .service-image{
	image-rendering: crisp-edges;	
	height: 100px;
	width: 100%;
	margin: auto;
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-size 0.2s ease-out;
}
.main-services .service:hover .service-image{
	background-size: auto 90%;
	image-rendering: crisp-edges;	
}
.main-services .service .service-title{
	display: block;
	width: 90%;
	height: auto;
	word-break: break-word;
    font-family: "MJ AlGhifari";
    font-size: 1.5em;
    text-align: center;
    padding: 30px 0 0 0;
    color: #9b59b6;
    margin: auto;
}

footer.main-footer{
	height: 400px;
	width: 100%;
	position: relative;
	background: #9b59b6;
	background: -webkit-linear-gradient(to left, #612e76 , #34193f);
	background: linear-gradient(to left, #612e76 , #34193f);
	        
}
footer.main-footer:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	background: url('/public/images/wave-footer-background-overlay.png') no-repeat;
	background-size: 100% 100%;
	background-position: top;
}

@media (max-width: 800px){
	footer.main-footer:after{
		content: '';
		background-size: 100% 70%;
	}
}